<template>
    <li
        class="search-list__item"
    >
        <img
            :src="props.location.icon"
            alt=""
            class="search-list__item-img"
        >
        <span class="search-list__item-text">{{ props.location.display_name }}</span>
    </li>
</template>

<script setup>

const props = defineProps({
    location: {
        type: Object,
        required: true,
        default: () => {

        }
    }
})

</script>

<style scoped>
.search-list__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    position: relative;
}
.search-list__item-text {
    padding-left: 28px;
    font-size: 16px;
    line-height: 1.4;
}
.search-list__item-img {
    position: absolute;
    left: 0;
    top: 0;
}
</style>