<template>
    <ul class="search__list search-list" v-if="locationStore.locations.length">
        <ItemSearch
            v-for="location in locationStore.locations"
            :key="location.place_id"
            :location="location"
        >
        </ItemSearch>
    </ul>
    <div class="search__not-found" v-if="!locationStore.locations.length && locationStore.searchLocation.length">
        Ничего не найдено
    </div>
</template>

<script setup>
import { useLocationStore } from "@/store/LocationStore";
import ItemSearch from "@/components/ItemSearch";

const locationStore = useLocationStore()
</script>

<style scoped>
.search-list {
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.search__not-found {
    padding-left: 10px;
}
</style>