<template>
    <input
        type="text"
        class="search-input"
        placeholder="Введите адрес"
        v-model="locationStore.searchLocation"
        @input="locationStore.getLocations(locationStore.searchLocation)"
    >
</template>

<script setup>
import { useLocationStore } from "@/store/LocationStore";

const locationStore = useLocationStore()
</script>

<style lang="scss" scoped>
.search-input {
    border: 2px solid #e7e7e7;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
}
</style>