@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(input, textarea):focus {
    outline: none;
    border: 2px solid #4169E1 !important;
}

body {
    background: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    max-width: 640px;
    margin: auto;
    padding: 60px 20px;
}

li {
    list-style: none;
}