<template>
    <main class="search">
        <SearchAddress></SearchAddress>
        <ListSearch></ListSearch>
    </main>
</template>

<script setup lang="ts">

import SearchAddress from "@/components/SearchAddress";
import ListSearch from "@/components/ListSearch";
</script>

<style src="./assets/style.scss" lang="scss"></style>
